.edit-btn {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}

.post-container {
  width: 80%; /* Adjust the width as desired (e.g., 600px) */
  margin: 0 auto; /* Center the post horizontally */
}

.profile-header {
  color: white;
}

@keyframes post-slide-up {
    from {
      transform: translateY(20px); /* Adjust the initial position as needed */
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.post-animation {
    animation: post-slide-up 1s ease-in-out; /* Animation name, duration, timing function */
}

@keyframes slide-in-left {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

.slide-in-left {
    animation: slide-in-left 0.5s ease-in-out;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

.pagination-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensures the buttons appear on top of other content */
}

.pagination-container button {
  margin-left: 10px; /* Add space between the buttons */
  opacity: 0.6;
}